<nav class="navbar navbar-expand-lg top-nav">
  <!-- <img src="assets/pipe_left.png" class="pipe"> -->
  <a class="navbar-brand mx-auto" href="#"><img src="../../assets/igp.png" id="igp-logo"></a>
  <!-- <img src="assets/pipe_right.png" class="pipe"> -->
</nav>

<nav class="navbar navbar-expand-md bottom-nav navbar-light">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">About me</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Resume</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Blog</a>
      </li>
    </ul>
  </div>

</nav>