@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");

.eightbits {
    font-family: 'Press Start 2P', cursive;
    color: #22b455;
    letter-spacing: -1px; 
}

.top-nav {
    background-color: #020204;
}

.nav-item a {
    font-family: 'Press Start 2P', cursive;
    font-size: 0.8em;
    text-transform: capitalize;
    letter-spacing: -1px; 
    margin: 0 30px;
    height: 100%;
    color: #ffffff;
}

.nav-item a:hover {
    color: #bbc5ba;
}

.navbar {
    padding: 0;
}

#igp-logo {
    width: 300px;
    max-height: 150px;
    height: auto;
    margin: auto;
}

.bottom-nav {
    // border-top: 1px solid green;
    background-color: #008F11;
}

.pipe {
    max-width: 100px;
    max-height: 100px;
}