<div class="title-and-gif-container">
  <img src="../../../assets/controller.svg">
  <h2 class="eightbits display-title">{{displayTitle}}</h2>
  <img src="../../../assets/controller.svg">
</div>

<div class="skills-container">

  <div class="skill-container">
    <img src="../../../assets/controller.svg" class="project-picture">

    <div class="skill-description-container">

      <p class="skill-description-title eightbits">
        My Project 1
      </p>

      <p class="project-description-level"><span class="level-title">Level:</span><span class="level">Advanced</span></p>

      <p class="skill-description">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
        the industry's standard dummy text ever since the 1500s. Lorem Ipsum is simply dummy text of the printing and
        typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
      </p>
    </div>
  </div>

  <div class="skill-container">
    <img src="../../../assets/controller.svg" class="project-picture">

    <div class="skill-description-container">

      <p class="skill-description-title eightbits">
        My Project 1
      </p>

      <p class="project-description-level"><span class="level-title">Level:</span><span class="level">Advanced</span></p>

      <p class="skill-description">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
        the industry's standard dummy text ever since the 1500s. Lorem Ipsum is simply dummy text of the printing and
        typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
      </p>
    </div>
  </div>

  <div class="skill-container">
    <img src="../../../assets/controller.svg" class="project-picture">

    <div class="skill-description-container">

      <p class="skill-description-title eightbits">
        My Project 1
      </p>

      <p class="project-description-level"><span class="level-title">Level:</span><span class="level">Advanced</span></p>

      <p class="skill-description">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
        the industry's standard dummy text ever since the 1500s. Lorem Ipsum is simply dummy text of the printing and
        typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
      </p>
    </div>
  </div>
</div>