<div class="title-and-gif-container">
  <h2 class="eightbits display-title">{{displayTitle}}</h2>
</div>

<h3 class="subtitle">Liked my profile? Please, feel free to reach me!</h3>

<div class="contacts-container">
  <div class="contact">
    <a href="https://www.linkedin.com/in/igor-grillo-peternella/"><img src="/static/backbits/linked_in.svg"></a>
  </div>

  <div class="contact">
    <a href="https://github.com/IgooorGP"><img src="/static/backbits/github.svg"></a>
  </div>

  <div class="contact">
    <a href="https://medium.com/@igor.feq"><img src="/static/backbits/medium.svg"></a>
  </div>

  <div class="contact">
    <a href="mailto:igor.feq@gmail.com"><img src="/static/backbits/email.svg"></a>
  </div>
</div>
