<div class="title-and-gif-container">
  <img src="../../../assets/phone.svg">
  <h2 class="eightbits display-title">{{displayTitle}}</h2>
  <img src="../../../assets/phone.svg">
</div>

<h3 class="subtitle eightbits">Here are some contacts! Feel free to reach me!</h3>

<div class="contacts-container">
  <div class="contact">
    <a href="#"><img src="../../../assets/linked_in.svg"></a>
  </div>

  <div class="contact">
    <a href="#"><img src="../../../assets/github.svg"></a>
  </div>

  <div class="contact">
    <a href="#"><img src="../../../assets/medium.svg"></a>
  </div>

  <div class="contact">
    <a href="#"><img src="../../../assets/email.svg"></a>
  </div>

  <div class="contact">
    <a href="#"><img src="../../../assets/whatsapp.svg"></a>
  </div>

  <div class="contact">
    <a href="#"><img src="../../../assets/facebook.svg"></a>
  </div>
</div>