<div class="title-and-gif-container">
  <img src="/static/backbits/phone.svg">
  <h2 class="eightbits display-title">{{displayTitle}}</h2>
  <img src="/static/backbits/phone.svg">
</div>

<h3 class="subtitle">Liked my profile? Please, feel free to reach me!</h3>

<div class="contacts-container">
  <div class="contact">
    <a href="#"><img src="/static/backbits/linked_in.svg"></a>
  </div>

  <div class="contact">
    <a href="#"><img src="/static/backbits/github.svg"></a>
  </div>

  <div class="contact">
    <a href="#"><img src="/static/backbits/medium.svg"></a>
  </div>

  <div class="contact">
    <a href="#"><img src="/static/backbits/email.svg"></a>
  </div>

  <div class="contact">
    <a href="#"><img src="/static/backbits/whatsapp.svg"></a>
  </div>

  <div class="contact">
    <a href="#"><img src="/static/backbits/facebook.svg"></a>
  </div>
</div>
