<div class="title-and-gif-container">
  <h2 class="eightbits display-title">{{displayTitle}}</h2>
</div>

<div class="inner-display">
  <div class="inner-display-img-area">
    <img src="/static/backbits/me.png">
    <p class="eightbits" id="chat-bot-desc">Igor's bot</p>
  </div>

  <div class="inner-display-text-area">
    <p class="eightbits chat-user-desc">Me:</p>
    <p class="speech-bubble eightbits">
      Hey there! I'm a bot version of myself! I can understand a couple of commands
      so we can talk here! Get to know a little bit about be by typing questions such
      as how old are you, where do you live, etc! Oh yes, if you enjoy the conversation
      you can ask about my contacts too!
    </p>

    <p class="eightbits chat-user-desc">You:</p>
    <textarea class="user-input-text speech-bubble-user eightbits"></textarea>

    <button class="start-button eightbits">SEND</button>
  </div>
</div>
