.eightbits {
    font-family: 'Press Start 2P', cursive;
    color: #42f719;
    letter-spacing: -1px; 
}

h2.display-title {
    text-align: center;
    position: relative;
    margin: 2% 0 2% 0;
    font-size: 50px;
}


.chat-user-dec {
    color: #21ff0b;
}

.title-and-gif-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    img {
        padding: 0.5%;
        background: #1b0f18;
        margin: 2% 4%;
        width: 20%;
        height: 12vh;
        min-height: 40px;
        border-radius: 20px;
    }
}

.inner-display {
    display: flex;
    flex-direction: row;
}

.inner-display-text-area {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 5%;
    width: 70%;
}

.inner-display-img-area {
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    // height: 30vh;
}

.inner-display-img-area p.eightbits {
    text-align: center;
    font-size: 15px;
}

.inner-display-text-area p {
    margin: 1%;
}

.inner-display-button-area {
    margin: 2% auto 0 auto;
}

.inner-display-img-area img {
    width: 90%;
    min-height: 200px;
}

.inner-display-img-area p {
    font-size: 20px;
    margin: 0;
}

.start-button {
    margin: 3% 0 3% 60%;
    font-size: 1.0em;
    width: auto;
    color: black;
    border: 1px gray solid;
    background: #22b455;
    padding: 5px;
}

.start-button:hover {
    background: #1bdb5e;
}

.speech-bubble {
    margin: 0px;
    min-height: 80px;
	background: #0f110f;
    border-radius: 10px;
    border: 1px solid green;
    overflow-y: auto;
    color: #0ff359;
}

p.speech-bubble {
    padding: 2% 4%;
    min-height: 100px;
}

p.speech-bubble.eightbits {
    margin: 0px;
}

.bot-answer-area p {
    margin: 1vh 0;
}

.speech-bubble-user {
    font-size: 1.0em;
    padding: 2% 4%;        
    // height: 15vh;
	position: relative;
	background: #0e0b0e;
    border-radius: 10px;
    border: 1px solid green;
}

.user-input-text {
    min-height: 100px;
    color: white;
    font-size: 1.0em;
}


@media screen and (max-width: 800px) {
    .title-and-gif-container {
        h2.display-title {
            margin: 5% auto;
        }

        img {
            width: 15%
        }
    }
}


@media screen and (max-width: 600px) {

    p#chat-bot-desc {
        font-size: 10px;
    }
    
    .title-and-gif-container {
        h2.display-title {
            font-size: 30px;
        }
    }

    .user-input-text {        
        font-size: 12px;
    }

    p.speech-bubble {
        font-size: 12px;
    }
}


@media screen and (min-width: 900px) {
    .inner-display-text-area {
        width: 70%;
    }

    .inner-display-img-area {
        width: 30%;
        height: 40vh;
        margin-top: 0;
    }

    .inner-display-img-area p.eightbits {
        font-size: 20px;
    }
}

@media screen and (min-width: 800px) {
    .start-button {
        font-size: 20px;
        padding: 10px;
        margin: 2% 0 2% 70%;
        width: auto;
    }
}

textarea:focus, input:focus{
    outline: none;
}

p#chat-bot-desc {
    color: white;
}

// animations
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

h2.eightbits.display-title {
  animation: 0.5s ease-out 0s 1 slideInFromLeft;
}

.inner-display-img-area img {
    -webkit-animation: jump 1.5s ease 0s 1 normal ;
    animation: jump 1.5s ease 0s 1 normal ;
}

// .inner-display-img-area:hover {
//     -webkit-animation: jump 1.5s ease 0s 2 normal ;
//     animation: jump 1.5s ease 0s 2 normal ;
//  }

@-webkit-keyframes jump {
  0%{
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  20%{
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40%{
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  50%{
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  60%{
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
  80%{
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100%{
    -webkit-transform: translateY(0);
    transform: translateY(0);
 }
}

p.speech-bubble.eightbits {
  width: 100%;
  animation: type 0.6s steps(60, end); 
}

@keyframes type{ 
  from { width: 5px; } 
} 


/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #1d2125;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #42f719;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
