<div class="inner-display">
  <div class="inner-display-img-area">
    <img src="../../assets/me.png">
    <p class="eightbits">Igor<br>(Chat bot)</p>
  </div>

  <div class="bot-answer-area">
    <p class="eightbits">Me:</p>
    <p class="speech-bubble eightbits">
      Hey there! I'm a bot version of myself! I can understand a couple of commands
      so we can talk here! Get to know a little bit about be by typing questions such
      as how old are you, where do you live, etc! Oh yes, if you enjoy the conversation
      you can ask about my contacts too!
    </p>

    <p class="eightbits">You:</p>
    <textarea class="user-input-text speech-bubble-user eightbits"></textarea>

    <button class="start-button eightbits">SEND</button>
  </div>
</div>