.eightbits {
    font-family: 'Press Start 2P', cursive;
    color: #22b455;
    letter-spacing: -1px; 
}

h2.display-title {
    text-align: center;
    position: relative;
    margin: 2% auto;
    font-size: 50px;
    color: #ebff03;
}

.title-and-gif-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 1vh;

    img {
        padding: 0.5%;
        background: #ebff03;
        margin: 2% 2%;
        width: 15%;
        height: 15vh;
        border-radius: 20px;
    }
}


.projects-container {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    overflow-y: auto;
    height: 47vh;
}

.project-container {
    display: flex;
    align-items: center;
    font-size: 10px;
    // margin: 10% 0;
    margin: 5vh 0;
    min-height: 15vh;

    img {
        margin: 0% 20px;
        width: 25%;
        height: 20vh;
        background: white;
        border-radius: 15px;
        border: 1px solid white;
    }
}

.project-description-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    // height: 15vh;
        
    p { 
        margin: 0;
    }

    p.project-description-title {
        margin-bottom: 2vh;
    }

    a.project-description-link {
        margin-bottom: 1vh;
    }

    p.project-description-itself {
        color: white;
    }
}

@media screen and (max-width: 800px) {
    .title-and-gif-container {
        h2 {
            font-size: 1.6em;
        }

        img {
            width: 20%
        }
    }
}


@media screen and (max-width: 500px) {
    .projects-container {
        height: 40vh;
    }
    
    .project-container {
        margin: 70px 0;

        img {
            min-height: 15vh;
        }
        
    }
    
    .title-and-gif-container {
        h2.display-title {
            margin: 10% 0;
            font-size: 1.6em;
        }

        img {
            display: none;
        }
    }
}

@media screen and (min-width: 600px) { 
    .project-container {
        font-size: 12px;
    }
}

@media screen and (min-width: 800px) { 
    .project-container {
        font-size: 15px;

        img {
            width: 20%;
        }
    }
}

// animations
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

h2.eightbits.display-title {
  animation: 0.5s ease-out 0s 1 slideInFromLeft;  
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #1d2125; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #ebff03; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
