<h2 class="eightbits display-title">{{displayTitle}}</h2>

<div class="inner-display extra">
  <div class="proj-container">
    <img src="" class="proj-pic">

    <div class="desc-container">
      <p class="desc-title">
        My Project 1
      </p>

      <p class=" desc-link">
        <a href="https://github.com">https://github.com</a>
      </p>

      <p class="desc">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
        the industry's standard dummy text ever since the 1500s.
      </p>
    </div>

    <div class="desc-container">
      <p class="desc-title">
        My Project 1
      </p>

      <p class=" desc-link">
        <a href="https://github.com">https://github.com</a>
      </p>

      <p class="desc">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
        the industry's standard dummy text ever since the 1500s.
      </p>
    </div>

    <div class="desc-container">
      <p class="desc-title">
        My Project 1
      </p>

      <p class=" desc-link">
        <a href="https://github.com">https://github.com</a>
      </p>

      <p class="desc">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
        the industry's standard dummy text ever since the 1500s.
      </p>
    </div>

    <div class="desc-container">
      <p class="desc-title">
        My Project 1
      </p>

      <p class=" desc-link">
        <a href="https://github.com">https://github.com</a>
      </p>

      <p class="desc">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
        the industry's standard dummy text ever since the 1500s.
      </p>
    </div>
  </div>
</div>