ul, li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.eightbits {
    font-family: 'Press Start 2P', cursive;
    color: #22b455;
    letter-spacing: -1px; 
}

h2.display-title {
    text-align: center;
    position: relative;
    margin: 2% auto;
    font-size: 50px;
    color: #ebff03;
}

.title-and-gif-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 1vh;

    img {
        padding: 0.5%;
        background: #ebff03;
        margin: 2% 2%;
        width: 15%;
        // height: 15vh;
        height: 150px;
        border-radius: 20px;
    }
}


.projects-container {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    height: 45vh;
}

.project-container {
    display: flex;
    align-items: center;
    font-size: 10px;
    margin: 4% 0;
    min-height: 150px;
}

.project-image-container {
    width: 40%;
    height: 100%;
    min-width: 100px;
    min-height: 100px;
    margin: 0 20px;
    background: white;
    border-radius: 10px;

    img {
        width: 100%;
        height: 100%;
    }
}

.project-description-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    // height: 15vh;
        
    p { 
        margin: 0;
    }

    p.project-description-title {
        margin-bottom: 2vh;
    }

    a.project-description-link {
        margin-bottom: 1vh;
    }

    p.project-description-itself {
        color: white;
    }
}

.project-description-itself {
    word-wrap:break-word;
}

@media screen and (max-width: 800px) {
    .title-and-gif-container {
        h2 {
            font-size: 1.6em;
        }

        img {
            width: 20%
        }
    }
}


@media screen and (max-width: 500px) {
    .project-container {
        margin: 10% 0;
    }
    
    .title-and-gif-container {
        h2.display-title {
            margin: 10% 0;
            font-size: 1.6em;
        }

        img {
            display: none;
        }
    }
}

@media screen and (min-width: 600px) { 
    .project-container {
        font-size: 12px;
    }
}

@media screen and (min-width: 800px) { 
    .project-container {
        font-size: 15px;
    }
}

// animations
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

h2.eightbits.display-title {
  animation: 0.5s ease-out 0s 1 slideInFromLeft;  
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #1d2125; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #ebff03; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
