<div class="title-and-gif-container">
  <img src="/static/backbits/space_invader.gif">
  <h2 class="eightbits display-title">{{displayTitle}}</h2>
  <img src="/static/backbits/space_invader.gif">
</div>

<div class="projects-container">
  <div *ngIf="!loading; else loadingData">

    <div *ngIf="!hasError; else errorData">
      <div *ngFor="let project of projectsArray" class="project-container">
        <div class="project-image-container">
          <img src="{{ project.imageUrl }}" class=" project-picture">
        </div>

        <div class="project-description-container">
          <p class="project-description-title eightbits">
            {{ project.title }}
          </p>

          <a href="{{ project.websiteLink }}" class="project-description-link">{{ project.websiteLink }}</a>

          <p class="project-description-itself">
            {{ project.description }}
          </p>
        </div>
      </div>
    </div>

    <ng-template #errorData>
      <p class="project-description-title eightbits middle">
        An error occurred here :(!
      </p>
    </ng-template>
  </div>

  <ng-template #loadingData>
    <p class="project-description-title eightbits middle">
      Loading data...
    </p>
  </ng-template>
</div>


<!-- mocks for development -->
  <!--
<div class="projects-container">

  <div class="project-container">
    <div class="project-image-container">
      <img src="/static/backbits/github.svg" class="project-picture">
    </div>
    <div class="project-description-container">

      <p class="project-description-title eightbits">
        My Project 1
      </p>

      <a href="https://github.com" class="project-description-link">https://github.com</a>

      <p class="project-description-itself">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
        the industry's standard dummy text ever since the 1500s. Lorem Ipsum is simply dummy text of the printing and
        typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
      </p>
    </div>
  </div>

  <div class="project-container">
    <div class="project-image-container">
      <img src="/static/backbits/github.svg" class="project-picture">
    </div>
    <div class="project-description-container">

      <p class="project-description-title eightbits">
        My Project 1
      </p>

      <a href="https://github.com" class="project-description-link">https://github.com</a>

      <p class="project-description-itself">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
        the industry's standard dummy text ever since the 1500s. Lorem Ipsum is simply dummy text of the printing and
        typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
      </p>
    </div>
  </div>

  <div class="project-container">
    <div class="project-image-container">
      <img src="/static/backbits/github.svg" class="project-picture">
    </div>
    <div class="project-description-container">

      <p class="project-description-title eightbits">
        My Project 1
      </p>

      <a href="https://github.com" class="project-description-link">https://github.com</a>

      <p class="project-description-itself">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
        the industry's standard dummy text ever since the 1500s. Lorem Ipsum is simply dummy text of the printing and
        typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
      </p>
    </div>
  </div>
</div> -->
