<div class="title-and-gif-container">
  <img src="../../../assets/space_invader.gif">
  <h2 class="eightbits display-title">{{displayTitle}}</h2>
  <img src="../../../assets/space_invader.gif">
</div>

<div class="projects-container">

  <div class="project-container">
    <img src="../../../assets/github.png" class="project-picture">

    <div class="project-description-container">

      <p class="project-description-title eightbits">
        My Project 1
      </p>

      <a href="https://github.com" class="project-description-link">https://github.com</a>

      <p class="project-description-itself">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
        the industry's standard dummy text ever since the 1500s.
      </p>
    </div>
  </div>

  <div class="project-container">
    <img src="../../../assets/github.png" class="project-picture">

    <div class="project-description-container">

      <p class="project-description-title eightbits">
        My Project 1
      </p>

      <a href="https://github.com" class="project-description-link">https://github.com</a>

      <p class="project-description-itself">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
        the industry's standard dummy text ever since the 1500s.
      </p>
    </div>
  </div>

  <div class="project-container">
    <img src="../../../assets/github.png" class="project-picture">

    <div class="project-description-container">

      <p class="project-description-title eightbits">
        My Project 1
      </p>

      <a href="https://github.com" class="project-description-link">https://github.com</a>

      <p class="project-description-itself">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
        the industry's standard dummy text ever since the 1500s.
      </p>
    </div>
  </div>
</div>