{% load static  %}
<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Me</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static "css/main.css" %}" />
</head>
<body>
    <nav>
        <ul class="navbar-top">
            <li class="navbar-top-logo"><img src="{% static "img/mybits.png" %}"></li>
            <li class="navbar-top-item"><a>Home</a></li>
            <li class="navbar-top-item"><a>About me</a></li>
        </ul>
    </nav>
</body>
</html>