<div class="test">
  <div class="container">
    <h2 class="eightbits display-title">Welcome!</h2>

    <div class="inner-display">

      <div class="inner-display-img-area">
        <img src="../../assets/me.png">
        <p class="eightbits">Igor</p>
      </div>

      <div class="bot-answer-area">
        <p class="eightbits">Me:</p>
        <p class="bot-answer-text speech-bubble eightbits">
          hello
        </p>

        <p class="eightbits">You:</p>
        <p class="user-input-text speech-bubble-user">
          hello
        </p>

        <div class="inner-display-button-area">
          <button class="start-button eightbits">SEND</button>
        </div>
      </div>
    </div>
  </div>
</div>