.container {
    // height: 70vh;
    height: 65vh;
    margin: 20px auto;

    opacity: 0.97;
    
    // background-color: #030804;
    background-color:#061725;

    border: 1px solid white;
    border-radius: 10px;
    overflow: auto;
}

.eightbits {
    font-family: 'Press Start 2P', cursive;
    color: #22b455;
    letter-spacing: -1px; 
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #1d2125; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #42f719;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}