<h2 class="display-title eightbits">{{displayTitle}}</h2>

<div class="inner-display-about-me">
  <div class="about-me-picture-container">
    <img src="../../assets/igp.jpeg" class="about-me-pic">
    <p class="eightbits about-me-pic-desc"><span class="about-me-tag">Name:</span>Igor G. Peternella</p>
    <br>
    <p class="eightbits about-me-pic-desc"><span class="about-me-tag">Age:</span> 27</p>
    <br>
    <p class="eightbits about-me-pic-desc"><span class="about-me-tag">City:</span> São Paulo</p>
    <br>
    <p class="eightbits about-me-pic-desc"><span class="about-me-tag">Marital status:</span>Single</p>
    <br>
    <p class="eightbits about-me-pic-desc"><span class="about-me-tag">Languages:</span>English, German, Portuguese</p>
  </div>

  <div class="about-me-text-container">
    <p>
      I'd define myself as a language-agnostic developer who loves learning new technologies! I see programming
      languages as tools and I love learning new ones to use them where they excel. Moreover, I've always been a
      self-taught person and this makes learning new things on the fly something that I'm very comfortable with.
    </p>

    <p>
      Right now, I'm working with Python-related technologies such as Flask and Django to create backend systems! I'm
      also working with many testing methodologies in order to create state-of-art software!

      I really enjoy computer science, too! I'm always eager to learn more about academic topics such as data
      structures, algorithms and my current favorite topic: programming languages design!

      I have published a couple posts on Editora's Globo medium, please check it out: https://medium.com/editora-globo
    </p>

    <p>
      I'm always trying to find new ways to improve myself after work! That's why I'm trying to contribute to
      open-source projects. Right now I'm contributing on a health-check application to be used with Django!

      I love communicating with people and I consider myself a great team player who likes to listen to new opinions
      and ideas! My English is fluent and I can also speak a bit of german if needed ;)!

      Check my github with data structures, algorithms, APIs, web crawlers and some functional programming, all coded
      by me in languages such as Java, JS, Python and SML: https://github.com/IgooorGP
    </p>
  </div>

</div>