<h2 class="display-title eightbits">{{displayTitle}}</h2>

<div *ngIf="!loading; else loadingData">
  <div *ngIf="!hasError; else errorData">

    <div class="inner-display-about-me">
      <div class="about-me-picture-container">
        <img src="{{ aboutMe.imageUrl }}" class="about-me-pic">

        <p class="eightbits about-me-pic-desc"><span class="about-me-tag">* Name:</span>{{ aboutMe.firstName }}
          {{aboutMe.lastName }}</p>
        <br>
        <p class="eightbits about-me-pic-desc"><span class="about-me-tag">* Age:</span>{{ aboutMe.age }}</p>
        <br>
        <p class="eightbits about-me-pic-desc"><span class="about-me-tag">* City:</span>{{ aboutMe.city }}</p>
        <br>
        <p class="eightbits about-me-pic-desc"><span class="about-me-tag">* Marital status:</span>{{ aboutMe.maritalStatus }}</p>
        <br>
        <p class="eightbits about-me-pic-desc"><span class="about-me-tag">* Languages:</span>{{ aboutMe.languages }}</p>
        <br>
        <p class="eightbits about-me-pic-desc"><span class="about-me-tag">--> Resume:</span><a href="{{ aboutMe.resumeUrl }}"
            download>igp_resume.pdf</a></p>
      </div>

      <div class="about-me-text-container">
        <p>
          {{ aboutMe.description }}
        </p>
      </div>
    </div>
  </div>

  <ng-template #errorData>
    <p class="eightbits middle">
      An error occurred here :(!
    </p>
  </ng-template>
</div>

<ng-template #loadingData>
  <p class="eightbits middle">
    Loading data...
  </p>
</ng-template>

<!-- <div class="about-me-picture-container">
    <img src="/static/backbits/igp.jpeg" class="about-me-pic">

    <p class="eightbits about-me-pic-desc"><span class="about-me-tag">* Name:</span>Igor G. Peternella</p>
    <br>
    <p class="eightbits about-me-pic-desc"><span class="about-me-tag">* Age:</span> 27</p>
    <br>
    <p class="eightbits about-me-pic-desc"><span class="about-me-tag">* City:</span> São Paulo</p>
    <br>
    <p class="eightbits about-me-pic-desc"><span class="about-me-tag">* Marital status:</span>Single</p>
    <br>
    <p class="eightbits about-me-pic-desc"><span class="about-me-tag">* Languages:</span>English, German, Portuguese</p>
    <br>
    <p class="eightbits about-me-pic-desc"><span class="about-me-tag">Resume: </span><a href="#" download>igp.pdf</a></p>
</div>

<div class="about-me-text-container">
  <p>
    I'd define myself as a language-agnostic developer who loves learning new technologies! I see programming
    languages as tools and I love learning new ones to use them where they excel. Moreover, I've always been a
    self-taught person and this makes learning new things on the fly something that I'm very comfortable with.
  </p
</div>
-->
