<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Igor Grillo Peternella</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
<link rel="stylesheet" href="/static/backbits/styles.f6bb357acb7c3293b172.css"></head>

<body>
  <app-root></app-root>
<script type="text/javascript" src="/static/backbits/runtime.d24d58c8ae927ef77272.js"></script><script type="text/javascript" src="/static/backbits/polyfills.3afb46e57abf66651f46.js"></script><script type="text/javascript" src="/static/backbits/scripts.a1403fae0ebfc60c3400.js"></script><script type="text/javascript" src="/static/backbits/main.476a8779b1b34bc52c2e.js"></script></body>

</html>