.footer {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0a0909;
    // height: 3.5vh;
}

a:visited {
    color: white;
}

a {
    display: block;
    height: 4vh;
    margin: 0 10%;
}

p {
    font-size: 0.9em;
}